* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#1f1c19, #110f0efd);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.main-container {
  width: 90vw;
  height: 90vh;
  /* background-color: #e5e5e5; */
  display: grid;
  grid-template-rows: 0.2fr 1fr 1fr 2fr 2fr;
  place-items: center;
  margin: auto;
  border-radius: 0.5rem;
}

.welcome-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.welcome-row p {
  font-size: 1.5rem;
  color: #e5e5e5;
}

.grid-row {
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
}

.account-balance-row {
  padding: 1rem;
  background: linear-gradient(#ebac48f7, #f1ad3ff7);
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.account-balance-row-add {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.account-balance-request-button,
.account-balance-send-button {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #252422;
  border: none;
  border-radius: 50%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.account-balance-request-button:hover,
.account-balance-send-button:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
  background-color: #e5e5e5;
  border: #fca2114f;
}

.account-balance-add-icon {
  font-size: 2rem;
  color: #fca311;
}

.account-balance-add-icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in;
  color: #252422;
}

.account-balance-row-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.account-balance-line {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  color: #252422d0;
  font-weight: 500;
}

.account-balance-number {
  font-size: 4rem;
  color: #252422;
}

.account-balance-cents {
  font-size: 3rem;
  color: #252422d0;
}

.account-balance-row-extra {
  background: linear-gradient(#1b2d549f, #234a9ff8);
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 2rem;
}

/* Mobile first */

@media (min-width: 800px) {
  .main-container {
    width: 800px;
  }
}
