* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#1f1c19, #110f0efd);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  font-family: "Work Sans", sans-serif;
}

.main-container {
  width: 90vw;
  height: 90vh;
  /* background-color: #e5e5e5; */
  display: grid;
  grid-template-rows: 0.2fr 1.8fr 1.5fr 2fr;
  gap: 1rem;
  place-items: center;
  margin: auto;
  border-radius: 0.5rem;
}

.welcome-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.ph-user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.8rem;
  color: #fca311;
  margin-right: 1rem;
  background-color: #252422;
  border-radius: 50%;
}

.welcome-row p {
  font-size: 1.5rem;
  color: #fca311;
}

.welcome-row-user-span {
  color: #fca71e;
}

.grid-row {
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
}

.account-balance-row {
  margin: auto;

  display: grid;
  grid-template-rows: 1.5fr 1fr;
}

.acount-balance-row-container {
  display: flex;
  flex-direction: row;
  background: linear-gradient(#ebac48f7, #f1ad3ff7);
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.account-balance-row-add {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.account-balance-request-button,
.account-balance-send-button {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #252422;
  border: none;
  border-radius: 50%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.account-balance-request-button:hover,
.account-balance-send-button:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
  background-color: #e5e5e5;
  border: #fca2114f;
}

.account-balance-add-icon {
  font-size: 2rem;
  color: #fca311;
}

.account-balance-add-icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in;
  color: #252422;
}

.account-balance-row-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.account-balance-line {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  color: #252422d0;
  font-weight: 450;
}

.account-balance-number-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.account-balance-number {
  font-size: 4rem;
  color: #252422;
}

.account-balance-cents {
  font-size: 3rem;
  color: #252422d0;
}

.account-balance-send,
.account-balance-request {
  background: linear-gradient(#1b2d549f, #234a9ff8);
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.send-container,
.amount-container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Send */

.account-balance-send form {
  height: 100%;
  width: 80%;
  display: flex;
  margin: auto;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  align-items: center;
}

.account-balance-send label,
.account-balance-send input {
  width: 90%;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 1rem;
}

.account-balance-send label {
  color: #e5e5e5;
  margin-bottom: 0.6rem;
}

/* Request */

.account-balance-request {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.clabe-number,
.account-balance-request p {
  font-size: 1.3rem;
  color: #e5e5e5;
}

.copy-clabe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  border: none;
  background-color: #e5e5e5;
}

.copy-clabe-btn:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in;
}

.ph-copy {
  font-size: 2rem;
  color: #1f1c19;
}

/* Movements */
.movements {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: #1f1c19;
  border-radius: 0.5rem;

  display: grid;
  grid-template-rows: 1fr 1fr 0.3fr;
}

.unique-movement {
  font-size: 1.3rem;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  color: #e5e5e5;
  justify-content: space-between;
  align-items: center;
}

.all-movements-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.all-movements-btn {
  font-size: 1.2rem;
  background: none;
  border: none;
  color: #e5e5e5;
  padding: 1rem;
}

/* Mobile first */

@media (min-width: 800px) {
  .main-container {
    width: 800px;
  }
}

/* Hide */
.hide {
  display: none;
}
