/*  {
"Black":"252422",
"Oxford Blue":"14213d",
"Orange (web)":"fca311",
"Platinum":"e5e5e5",
"White":"ffffff"}
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: url(../img/gradient-ultrawide.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Work Sans", sans-serif;
}

/* landpage nav */

.landpage-nav {
  width: 90vw;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 2.5rem 3rem;
  margin: 1rem 5rem;

  box-shadow: -1px 1px 9px 1px #00000008;
}

.brand-nav-p {
  color: #252422;
  font-size: 4rem;
}

.right-components-landpage {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sign-up-btn-landpage {
  height: 3rem;
  width: 18rem;
  margin-left: 1rem;
  border: none;
  border-radius: 2rem;
  background-color: #fa9c06;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

a:visited,
a:link {
  text-decoration: none;
  color: inherit;
}

.map-btn-landpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  width: 2.2rem;
  background-color: #fca311;
  border-radius: 50%;
  border: none;

  margin: auto;
  font-size: 1.6rem;
}

.sign-up-btn-landpage:hover,
.map-btn-landpage:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  background-color: #fca311;
}

/* Hero section */

.hero-section {
  width: 85vw;
  height: 85vh;
  margin: auto;
  /* background-color: #14213d; */

  display: grid;
  grid-template-rows: 35% 75%;
  grid-template-columns: repeat(2, 50%);
  place-items: center center;
}

.card-container {
  grid-column: 1 / -1;
  grid-row: 1 / 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-hero {
  width: 110%;
  margin: auto;
}

.header-container {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-size: 4.5rem;
  color: #14213d;
}

.hero-line {
  font-weight: 500;
  margin-top: 0.3rem;
  color: #252422;
}

@media screen and (min-width: 300px) {
  .landpage-nav {
    height: 4rem;
    padding: 2rem 3rem;
  }

  .brand-nav-p {
    color: #14213d;
    font-size: 2.2rem;
    font-weight: 500;
  }

  .sign-up-btn-landpage {
    height: 2rem;
    width: 8rem;
    font-size: 1.2rem;
  }

  .hero-section {
    grid-template-rows: 35% 65%;
    grid-template-columns: repeat(2, 50%);
  }
}

@media screen and (min-width: 550px) {
  .brand-nav-p {
    /* color: #14213d; */
    font-size: 3.2rem;
  }

  .sign-up-btn-landpage {
    height: 2.2rem;
    width: 8rem;
    font-size: 1.2rem;
  }

  .hero-section {
    grid-template-rows: 50% 50%;
  }
}

@media screen and (min-width: 850px) {
  .landpage-nav {
    padding: 2.5rem 3rem;
  }
  .sign-up-btn-landpage {
    height: 3rem;
    width: 12rem;
    font-size: 1.4rem;
  }

  .map-btn-landpage {
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
  }

  .hero-section {
    grid-template-rows: 65% 35%;
  }

  .card-img-hero {
    width: 95%;
  }

  .hero-line {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1250px) {
  .landpage-nav {
    padding: 2.5rem 3rem;
  }
  .hero-section {
    width: 75vw;
    height: 85vh;
  }

  .hero-section {
    grid-template-rows: 70% 30%;
  }

  .card-img-hero {
    width: 70%;
  }

  .hero-line {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1550px) {
  .landpage-nav {
    padding: 2.5rem 3rem;
  }
  .brand-nav-p {
    /* color: #14213d; */
    font-size: 3.6rem;
  }
  .hero-section {
    grid-template-rows: 70% 30%;
  }

  .card-img-hero {
    width: 80%;
  }

  .hero-line {
    font-size: 1.5rem;
  }
}
